* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-image: url(https://i.blogs.es/80042f/bingwallpaper-2020-04-18/1366_2000.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    min-height: 100px;
    background-color: #8780ab;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header img {
    width: 80px;
    height: 90px;
    margin-left: 10px;
    float: left;
}

header h1 {
    padding: 20px 0 0 10px;
    color: white;
    font-size: 3em;
    float: left;
}

header p {
    padding: 30px 10px 0 0;
    font-size: 2em;
    color: white;
}

#tabla {
    width: 60%;
    border-radius: 25px;
    min-height: 35vh;
    /*vh es vertical height*/
    /*border: 3px solid #8780ab;*/
    margin: 50px auto 20px;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    /*text-align: center;*/
    color: white;
    padding: 10px;
    background-color: rgba(0, 54, 255, 0.3);
}

tr:first-child {
    background-color: aliceblue;
    color: black;
}

@media(max-width: 1125px) {
    header h1 {
        padding-top: 30px;
        font-size: 2em;
        margin-right: 20px;
    }
}

@media(max-width: 912px) {
    header {
        justify-content: space-around;
    }

    header p {
        padding: 0px 10px 10px 0;
        font-size: 2em;
        color: white;
    }

    #tabla {
        width: 80%;
        font-size: 1.5em;
    }
}
@media(max-width: 600px){
    header img {
        width: 60px;
        height: 70px;
    }
    
    header h1 {
        font-size: 1.5em;
        padding-top: 20px;
    }
    
    header p {
        font-size: 1em;
    }
    #tabla{
        font-size: 1em;
    }
}